
#control-box{
    margin-left:0px;
    margin-right: 0px;

}
#search_inp{
/*max-width: 240px;*/

}
#rc11{
  
  margin:0px 0px 0px 5px;
  padding: 1px 1px 1px 1px;
  min-width: 185px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: lightgray;

}
#rc12{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin:0px 5px 0px 0px;
  padding: 1px 1px 1px 1px;
  background-color: lightgray;
}
#picrow{
  
  margin:5px 5px 5px 5px ;
}
#picbutrow{
    margin-left:5px;
    margin-right: 5px;
  margin-top:20px;
}
#msgbox{
    border-style: solid;
    border-width: 0px;
    border-color: red;
    margin-bottom: 10px;
}
#rc21{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin: 0px 0px 5px 5px;
  padding: 5px 5px 5px 5px;
  min-height: 200px;
  min-width: 185px;
  height: 99%;
  background-color: lightgrey;

}

#rc22{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin:0px 5px 5px 0px;
  min-height: 200px;
  height: 99%;
  background-color: darkgray;

}
#inputbox{
  border-style: solid;
  border-width: 0px;
  margin-top: 10px;
  border-color: red;
}
#fr{
  background-color: white;
  margin:3px 3px 0px 3px;
  min-width: 999px;
  border-style: solid;
  border-width: 0px;
}


#sr{
  background-color: white;

  margin:0px 3px 3px 3px;
  min-height: 478px;
  min-width: 999px;
  border-style: solid;
  border-width: 0px;

}

#chatting{
  width:max-content;
  height: max-content;
  
}

#frm{
  background-color: darkgray;
  
  

  height: 8vh;
  
}


#srm{
  background-color: lightgray;

 
  min-height: 478px;
 
  height: 92vh;


}
#mob-main-con{
  width:100%;
}

#inputboxm{
  width:100%;
  
  height: vh;
}
#all-app{
  width:97vw;
}
body{
  background-color: gray;
}
.mnav-btn{
  height: 98%;
  width: 100%;
  margin:auto auto auto auto;
}
.xxxl-p{
  margin: auto;
  font-size: xxx-large;
  margin-left: 20px;
}
.sm-p{
  font-size:x-large;
  
}
.mobmes-con{
  overflow-y: auto;
  max-height: 79vh;
  min-height: 79vh;
 
  
}
.mobmes-con p{
  font-size: x-large;
  margin:auto;
  
}